{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
<div class="top">
    <div class="header">
        <strong>Почти Вконтакте</strong>
    </div>
    <div class="login">
        {% if user.is_authenticated %}
        <a href="{% url 'vk_login:logout' %}">
            <strong>Выйти</strong>
        </a>
        {% else %}
        <a href="{% url 'social_auth:begin' 'vk-oauth2' %}">
            <strong>Авторизоваться</strong>
        </a>
        {% endif %}
    </div>
</div>
{% block body %}{% endblock %}
</body>
</html>